
@using cafeservellocontroler.Models.ViewModels
@model List<ProdutoViewModel>
@{
    ViewData["Title"] = "Produtos";
    }

<div class=" mt-4 mb-4 p-3 shadow-sm d-inline-flex" >
       
        
    <i class="fa-solid fa-mug-hot fa-xl d-flex align-items-center" style=""></i>
   
    <p class="tamanho-font-titulo borda-titulo ">
        Produtos
    </p>
</div>
   

    @*Sao mensagens de erro, que pegam as informacoes da controller, sao descritas la*@

    @if (TempData["MensagemSucesso"] != null)
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            @TempData["MensagemSucesso"]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }

    @if (TempData["MensagemErro"] != null)
    {
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            @TempData["MensagemErro"]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }


        
    @* A barra de pesquisar *@
<div class="search-position">
    <div id="container-search">

        <div class="input-group">
            <div class="input-icon">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>

            <input type="text"
                   id="search"
                   class="input-field"
                   placeholder="Pesquisar Produto" />
        </div>

        <div class="d-flex justify-content-end">
            <button class="btn-lg btn-success"
                    data-bs-toggle="modal"
                    data-bs-target="#modalCriar"
                    onclick="limparFormulario()">
                <i class="fa-regular fa-square-plus"></i>
            </button>
        </div>

    </div>
</div>

@*Esse daqui e o modal de CRIAR PRODUTO*@
<div class="modal fade" id="modalCriar" tabindex="-1" aria-labelledby="modalCriarLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalCriarLabel">Cadastrar Produto</h5>
                <button type="button" class="btn-close btn-close-modal" data-bs-dismiss="modal" aria-label="Fechar"></button>
            </div>
            <div class="modal-body">
                @await Html.PartialAsync("_Criar", new ProdutoViewModel())
            </div>
        </div>
    </div>
</div>


@*Aqui e a tabela, onde quando for adicionado ira aparecer um novo produto*@
<div class="table-responsive table-wrapper p-3">
    <table class="table table-bordered table-striped" id="table">
        
        
        <thead class="table-thead">
            <tr class="div-thead">
                <th scope="col" class="idTR">ID</th>
                <th scope="col">Nome</th>
                <th scope="col">Preço Compra</th>
                <th scope="col">Preço</th>
                <th scope="col">Estoque</th>
                <th scope="col" class="alinharModificar-ApagarTh">Modificar</th>
                <th scope="col" class="alinharModificar-ApagarTh">Apagar</th>
            </tr>
           
        </thead>
        
        <tbody>
            @if (Model != null && Model.Any())
            {
                foreach (ProdutoViewModel produto in Model)
                {


                    <tr>
                        <th scope="row" class="idTH">@produto.Id</th>
                        <td scope="row" class="espacoPadraoTabela">@produto.Nome</td>
                        <td scope="row" class="espacoPadraoTabela">@(produto.PrecoCompra.HasValue? produto.PrecoCompra.Value.ToString("C") : "0,00")</td>
                        <td scope="row" class="espacoPadraoTabela">@(produto.Preco.HasValue? produto.Preco.Value.ToString("C") : "0,00")</td>
                        <td scope="row" class="espacoPadraoTabela">@produto.Estoque</td>
                        <td scope="row" class="espacoModificarOpcoes">
                            <div role="group" class="d-grid gap-1 formatacaoBotaoTabela">

                                @*-----Botão DETALHES-----*@
                                <a role="button" class="btn-sm btn-primary btnModificadoTamanhoIgual" data-bs-toggle="modal" data-bs-target="#modalDetalhes-@produto.Id">
                                    <i class="fa-solid fa-calendar-week"></i>
                                     Detalhes
                                </a>

                                @*Esse daqui e o modal de DETALHES DO PRODUTO  *@
                                <div class="modal fade" id="modalDetalhes-@produto.Id" tabindex="-1" aria-labelledby="modalDetlahesLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-lg ">
                                        <div class="modal-content ">
                                            <div class="modal-header d-flex justify-content-between align-items-center">

                                                <h5 class="modal-title">Detalhes do Produto</h5>

                                                <div class="d-flex gap-2">
                                                    <a role="button"
                                                       class="btn btn-outline-success btnApagar btnAbrirModal"
                                                       data-modal-target="#modalEditar-@produto.Id"
                                                       data-current-modal="#modalDetalhes-@produto.Id">
                                                        <i class="fa-solid fa-pen-to-square fa-lg"></i>
                                                    </a>

                                                    <a role="button"
                                                       class="btn btn-outline-danger btnApagar btnAbrirModal"
                                                       data-modal-target="#modalApagarConfirmacao-@produto.Id"
                                                       data-current-modal="#modalDetalhes-@produto.Id">
                                                        <i class="fa-regular fa-trash-can fa-lg"></i>
                                                    </a>


                                                    <button type="button" class="btn-close btn-close-modal"
                                                            data-bs-dismiss="modal" aria-label="Fechar"></button>
                                                </div>
                                            </div>
                                            <div class="modal-body">
                                                @await Html.PartialAsync("_Detalhes", produto)
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                @*-----Botão EDITAR-----*@
                                <a role="button" class="btn-sm btn-success btnModificadoTamanhoIgual" data-bs-toggle="modal" data-bs-target="#modalEditar-@produto.Id">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                     Editar
                                </a>


                                @*Esse daqui e o modal de EDITAR PRODUTO  *@
                                <div class="modal fade" id="modalEditar-@produto.Id" tabindex="-1" aria-labelledby="modalEditarLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">Editar Produto</h5>
                                                <button type="button" class="btn-close btn-close-modal" data-bs-dismiss="modal" aria-label="Fechar"></button>
                                            </div>
                                            <div class="modal-body">
                                                @await Html.PartialAsync("_Editar", produto)
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </td>
                           
                        <td scope="row" class="espacoApagarOpcoes">

                            @*-----Botão APAGAR-----*@
                            <a role="button" class="btn-sm btn-outline-danger btnApagar" data-bs-toggle="modal" data-bs-target="#modalApagarConfirmacao-@produto.Id">
                                <i class="fa-regular fa-trash-can fa-lg"></i>
                            </a>

                            @*Esse daqui e o modal de APAGAR O PRODUTO *@
                            <div class="modal fade" id="modalApagarConfirmacao-@produto.Id" tabindex="-1" aria-labelledby="modalApagarConfirmacaoLabel" aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Apagar Produto</h5>
                                            <button type="button" class="btn-close btn-close-color" data-bs-dismiss="modal" aria-label="Fechar"></button>
                                        </div>
                                        <div class="modal-body">
                                            @await Html.PartialAsync("_ApagarConfirmacao", produto)
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </td>
                    </tr>
                }
            }  

            </tbody>
        </table>

        

</div>

<script>
        document.addEventListener('click', function (e) {
        if (e.target.closest('.btnAbrirModal')) {

            const btn = e.target.closest('.btnAbrirModal');
            const currentModal = document.querySelector(btn.dataset.currentModal);
            const nextModal = document.querySelector(btn.dataset.modalTarget);

            // Fecha o modal atual
            const modalInstance = bootstrap.Modal.getInstance(currentModal);
            modalInstance.hide();

            // Aguarda o fade-out do modal atual (~300ms)
            currentModal.addEventListener('hidden.bs.modal', function () {
                const newModal = new bootstrap.Modal(nextModal);
                newModal.show();
            }, { once: true });
        }
    });
</script>







